admins:
  - U01AXE0P5M3

channels:
  C02R98X7DS9: "course-mlops-zoomcamp"
  C01FABYF2RG: "course-data-engineering"
  C0288NJ5XSA: "course-ml-zoomcamp"
  C06TEGTGM3J: "course-llm-zoomcamp"

reactions:
  - reaction: dont-ask-to-ask-just-ask
    type: SLACK_POST
    message: >
      Don't ask to ask: https://dontasktoask.com/

  - reaction: thread
    type: SLACK_POST
    message: >
      Please use threads to keep the discussion more organized:
      https://datatalks.club/slack/guidelines.html#taking-part-in-discussions

  - reaction: faq
    type: SLACK_POST
    placeholders:
      link:
        course-ml-zoomcamp: https://datatalks.club/faq/machine-learning-zoomcamp.html
        course-data-engineering: https://datatalks.club/faq/data-engineering-zoomcamp.html
        course-mlops-zoomcamp: https://datatalks.club/faq/mlops-zoomcamp.html
        course-llm-zoomcamp: https://datatalks.club/faq/llm-zoomcamp.html
    message: >
      Please check the <{link}|FAQ>

  - reaction: error-log-to-thread-please
    type: SLACK_POST
    placeholders:
      link:
        course-ml-zoomcamp: https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/asking-questions.md
        course-data-engineering: https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/asking-questions.md
        course-mlops-zoomcamp: https://github.com/DataTalksClub/mlops-zoomcamp/blob/main/asking-questions.md
        course-llm-zoomcamp: https://github.com/DataTalksClub/llm-zoomcamp/blob/main/asking-questions.md
        default: https://datatalks.club/slack/guidelines.html#code-problems-and-errors
    message: |
      Please move the error log from the main message to the thread.

      Use code block for formatting the log: https://slack.com/help/articles/202288908-Format-your-messages

      Follow <{link}|these recommendations> to make it easier to help you.

  - reaction: no-screenshot
    type: SLACK_POST
    placeholders:
      link:
        course-ml-zoomcamp: https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/asking-questions.md
        course-data-engineering: https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/asking-questions.md
        course-mlops-zoomcamp: https://github.com/DataTalksClub/mlops-zoomcamp/blob/main/asking-questions.md
        course-llm-zoomcamp: https://github.com/DataTalksClub/llm-zoomcamp/blob/main/asking-questions.md
        default: https://datatalks.club/slack/guidelines.html#code-problems-and-errors
    message: |
      Please don't post screenshots or pictures of your code, they are very difficult to read.

      Instead, copy the code and put it in a code block.

      Follow <{link}|these recommendations> to make it easier to help you.

  - reaction: shameless-rules
    type: DELETE_MESSAGE
    message: |
      Hi <@{user}>! 

      You created this message in <#{channel}>:

      > {user_message}

      We want to make this community useful for everyone, that's why we ask you to follow the "shameless channels" template and the rules:

      https://alexeygrigorev.notion.site/Shameless-promotion-rules-f565ac6aa2064f7190382f2ffd82c876

      Your post was removed from the channel. Please adjust your post.

      Apologies for the inconvenience. Thank you!

  - reaction: jobs-rules
    type: DELETE_MESSAGE
    message: |
      Hi <@{user}>! 

      You created this message in <#{channel}>:

      > {user_message}

      We want to make this community useful for everyone, that's why we ask you to follow the templates and the rules suggested here:

      https://alexeygrigorev.notion.site/Jobs-b6ab78b9af504c8dac86413e7404fcfb

      Your post was removed from the channel. You're free to make adjustments and post again.

      Apologies for the inconvenience. Thank you!

  - reaction: ask-in-course-channel
    type: DELETE_MESSAGE
    message: |
      Hi <@{user}>! 

      You posted this message in <#{channel}>:

      > {user_message}

      Your post was removed from the channel. 

      Please use course-specific channels for course-related questions:

      - #course-ml-zoomcamp for ML Zoomcamp
      - #course-data-engineering for Data Engineering Zoomcamp
      - #course-mlops-zoomcamp for MLOps Zoomcamp
      - #course-llm-zoomcamp for LLM Zoomcamp

      If your message is about a different course, you can find the full list of channels <https://slack.com/help/articles/205239967-Join-a-channel|here>.

      Apologies for the inconvenience. Thank you!

  - reaction: to-welcome
    type: DELETE_MESSAGE
    message: |
      Hi <@{user}>! 

      You posted this message in <#{channel}>:

      > {user_message}

      We use #welcome for your introduction.
      
      Your message was removed from the channel. Please post it again in #welcome.

      Apologies for the inconvenience. Thank you!


  - reaction: ask-ai
    type: ASK_AI
    model: meta-llama/llama-4-scout-17b-16e-instruct
    prompt_template: |
      You're a helpful assistant. Answer the following question. Restrict your answer to 2500 characters.

      {user_message}
    answer_template: |
      Hi <@{user}>! We asked AI, and this is what it answered:

      {ai_response}
